div {
    text-align: center;
  }
  .nav {
    padding: 1px;
  }
  .navbar-custom {
    background-color: #ff6600;
  }
  .navbar-brand {
    color: black;
  }
  .nav-link {
    color: black;
  }
  .container {
    background-color: #f6f6ef;
  }
  .table {
    align-items: left;
  }
  .sno {
    color: #9a9a9a;
  }
  .table {
    align-content: left;
    text-align: left;
    background-color: #f6f6ef;
  }
  .container-fluid {
    padding:0;
  }
a.nav-link.active{
  padding:0px 3px;
}
